/* styles.css */
body {
    font-family: 'Inter', sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.header {
    margin-top: 20px;
}

.header h1 {
    font-family: 'Lexend Exa', sans-serif;
    color: #ffffff;
}

.login-container {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
    margin-top: 20px;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-family: 'Inter', sans-serif;
    touch-action: manipulation;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FF4500;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    touch-action: manipulation; 
}

button:hover {
    background-color: #d43800;
}

p {
    margin-top: 15px;
}

a {
    color: #FF4500;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.flashes {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

.flashes li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flashes .success {
    background-color: #4caf50;
    color: white;
}

.flashes .error {
    background-color: #f44336;
    color: white;
}




