<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Reset Password - MyShelf</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="header">
        <h1>MyShelf</h1>
    </div>
    <div class="login-container">
        <h2>Reset Password</h2>
        <form action="" method="post">
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
            <br>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>